<div class="container">
    <form #lancamentoForm="ngForm" (ngSubmit)="salvar(lancamentoForm)">
        <div class="grid">
            <div class="col-12">
                <h1>Novo Lançamento</h1>
            </div>

            <div class="col-12">
                <p-selectButton [options]="tipos" name="tipo" [(ngModel)]="lancamento.tipo" #tipo></p-selectButton>
            </div>

            <div class="col-6 md:col-3 p-fluid">
                <label>Vencimento</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="dataVencimento" [(ngModel)]="lancamento.dataVencimento" #lancamentoVencimento="ngModel" [required]="true"></p-calendar>

                <app-message [control]="lancamentoVencimento" error="required" text="Informe a data"></app-message>
            </div>

            <div class="col-6 md:col-3 p-fluid">
                <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
                <p-calendar dateFormat="dd/mm/yy" name="dataPagamento" [(ngModel)]="lancamento.dataPagamento" [showIcon]="true"></p-calendar>
            </div>

            <div class="col-12 md:col-9 p-fluid">
                <label>Descrição</label>
                <input pInputText type="text" name="descricao" [(ngModel)]="lancamento.descricao" #descricao="ngModel" required minlength="5">

                <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
                <app-message [control]="descricao" error="minlength" text=" Mínimo de {{descricao.errors?.['minlength']?.requiredLength}} caracteres"></app-message>
            </div>

            <div class="col-12 md:col-3 p-fluid">
                <label>valor</label>
                <p-inputNumber mode="currency" currency="BRL" placeholder="0,00" name="valor" [(ngModel)]="lancamento.valor" #lancamentoValor="ngModel" [required]="true"></p-inputNumber>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label>Categoria</label>
                <p-dropdown [options]="categorias" placeholder="Selecione" name="categoria" [(ngModel)]="lancamento.categoria.codigo" #lancamentoCategoria="ngModel" [required]="true"></p-dropdown>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label>Pessoa</label>
                <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true" name="pessoa" [(ngModel)]="lancamento.pessoa.codigo" #lancamentoPessoa="ngModel" [required]="true"></p-dropdown>
            </div>

            <div class="col-12 p-fluid">
                <label>Observação</label>
                <textarea pInputTextarea rows="3" name="observacao" [(ngModel)]="lancamento.observacao" #lancamentoObservacao="ngModel"></textarea>
            </div>

            <div class="col-12">
                <button class="p-button" pButton type="submit" label="Salvar" [disabled]="lancamentoForm.invalid"></button>
                <button class="p-button p-button-info" pButton type="submit" label="Novo"></button>
                <a href="javascript:;">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>